.turtle {
    background: transparent url('./turtle.png') repeat center center;
    height: 50px;
    width: 50px;
    background-size: 50px 50px;
    display: inline-block;
    position: absolute;
    top: 25px;
    left: 25px;
}
